.nav {
  position: fixed;
  z-index: 1;
  background: #202020;
  color: #999;
  font-size: 20px;

  .user {
    display: flex;
    align-items: center;
    padding: 0 40px;
    height: 110px;

    .avatar {
      border: 1px solid rgba(255, 255, 255, .15);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background: rgba(255, 255, 255, .05);
    }

    .name {
      margin-left: 20px;
    }
  }

  .stats {
    margin: 40px 0;
    text-align: center;

    .stat {
      margin: 40px 0;

      .label {
        font-size: 1.2em;
      }

      .value {
        margin: 10px 0;
        font-size: 2.5em;
      }

      &.victories .value {
        color: #7ED321;
      }

      &.defeats .value {
        color: #DB2828;
      }
    }
  }
}
